[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/bayou-brogrammer/nvim.git
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/bayou-brogrammer/zdotdir.git
